/* Author: Czarny Kaprel
Date: 25.10.18
 */

/* this is comment just for ex */
body{ color:brown
}
#header{
   color: darkgreen;
}
/*
#header h1 {
    font-size: 32px;
}
*/

p{
    font-size: 18px;
    color: blueviolet;
}

h2{
    font-size: 18px;
    color: aqua;
}

#chocolate{
    font-size: 23px;
    color: brown;
}

span{
    color: firebrick;
}

.deck{
    color: greenyellow;
}

h5{
    color: yellow !important;
}