*{
    color: black;
    padding: 0;
}

#Articles h2 + p{
    color: green;
}

article p:first-of-type{
    font-weight: bold;
}

article p:last-of-type{
    color: red;
}

li:nth-child(1), li:nth-child(5){
    color: blue;
}
li:nth-child(even){
    background: chocolate;
}